<div class="airplanes">
  <h1>Airplanes</h1>
  <p>List of airplains you created.</p>
  <ul>
    <li>
      <h1>Name</h1>
      <p>Row</p>
      <p>Column</p>
    </li>
    <% @airplanes.each do |a| %>
    <li>
      <%= link_to airplane_path a.id do  %>
        <h1><%= a.name %></h1>
        <p><%= a.row %></p>
        <p><%= a.column %></p>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>