<h3>Airplanes Index</h3>

<%= link_to 'Create Airplane', new_airplane_path %>


<ul>
    <% @airplanes.each do |airplane| %>
        <li>
            <%= link_to airplane.name, airplane_path(airplane.id) %> | rows: <%= airplane.row %> | columns: <%= airplane.column %>
        </li>
        <% end %>
    </ul>

