/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: url(main3.png) no-repeat center center fixed;
  background-size: cover;


 }
body, ul {
  margin: 0;
  margin-top: 10px;
  color: rgb(75, 75, 163);
}

ul {
  padding: 0;
  
}

a {
  
  padding: 10px 20px;
  background-color: rgba(255,255,255);
  border: 1px solid black;
  border-radius: 20px;
  font-size: 14px;
  text-decoration: none;
}

.main {
  width: 70%;
  margin: auto
}

.form {
  width: 40%;
  margin: auto;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid black;
  padding: 10px;
  margin: 10px auto; 
  border-radius: 10px;
  text-align: center;
}

.input_form ul {
  margin: auto;
  
} 

.form h3 {
  margin: 0;
  margin-bottom: 10px;
}

 #flight_table  {
  width: 85%;
  margin: auto;
  text-align: center;
  
}

#airplane_table {
  width: 50%;
  margin: auto;
  text-align: center;
}

#airplane_table li p {
  width: 50%;
}

 li {
  border: 1px solid black;
  display: flex;
  margin: 10px auto; 
  border-radius: 10px;
  
  background-color: rgba(255,255,255,0.8);
}

#flight_table li p {
  width: 25%;
}